<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>노트북 견적 내줘!</title>

    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>

</head>

<body id = mainpage-overrides>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-danger display-4" href="http://comalmot.com/" style="font-family: '본고딕 KR Heavy'" >노트북 견적 내줘!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://comalmot.com/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class = "container mt-5" >

    <div class="row">

        <div class="col-lg-3 mt-4">
            <div class="list-group " >
                <a href="#" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 이용 방법
                </a>
                <a href="http://comalmot.com/view?" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 노트북 상세검색
                </a>
                <a href="http://comalmot.com/query" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 개인별 맞춤 솔루션
                </a>
            </div>
        </div>
        <!-- /.col-lg-3 -->


        <div class="col-lg-9 mt-4 mb-4" >
            <div class="row" style="text-align: center">
                <div class="row col-lg-12 mb-2" id="querytest" style="text-align: center">
                        <img id="queryimg" src="https://t1.daumcdn.net/cfile/tistory/99B6BF3B5C7E60933E" style="display: block; width:100%; height:100%; margin-left: auto; margin-right: auto">
                </div>
                <div id="inputgroup" class="input-group col-lg-12 mb-2" style="display: none">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                            onchange="gameselect();">
                        <option selected>게임을 선택하세요</option>
                        <option value="{{game_min_1}}">롤(최소사양)</option>
                        <option value="{{game_rec_1}}">롤(권장사양)</option>
                        <option value="{{game_min_2}}">배틀그라운드(최소사양)</option>
                        <option value="{{game_rec_2}}">배틀그라운드(권장사양)</option>
                        <option value="{{game_min_3}}">오버워치(최소사양)</option>
                        <option value="{{game_rec_3}}">오버워치(권장사양)</option>
                        <option value="{{game_min_4}}">피파온라인4(최소사양)</option>
                        <option value="{{game_rec_4}}">피파온라인4(권장사양)</option>
                        <option value="{{game_min_5}}">메이플스토리(최소사양)</option>
                        <option value="{{game_rec_5}}">메이플스토리(권장사양)</option>
                        <option value="{{game_min_6}}">서든어택(최소사양)</option>
                        <option value="{{game_rec_6}}">서든어택(권장사양)</option>
                        <option value="{{game_min_7}}">스타크래프트(최소사양)</option>
                        <option value="{{game_rec_7}}">스타크래프트(권장사양)</option>
                        <option value="{{game_min_8}}">던전앤파이터(최소사양)</option>
                        <option value="{{game_rec_8}}">던전앤파이터(권장사양)</option>
                        <option value="{{game_min_9}}">월드오브워크래프트(최소사양)</option>
                        <option value="{{game_rec_9}}">월드오브워크래프트(권장사양)</option>
                        <option value="{{game_min_10}}">데스티니가디언즈(최소사양)</option>
                        <option value="{{game_rec_10}}">데스티니가디언즈(권장사양)</option>
                        <option value="{{game_min_11}}">몬스터 헌터(최소사양)</option>
                        <option value="{{game_rec_11}}">몬스터 헌터(권장사양)</option>
                        <option value="{{game_min_12}}">리니지리마스터(최소사양)</option>
                        <option value="{{game_rec_12}}">리니지리마스터(권장사양)</option>
                        <option value="{{game_min_13}}">블레이드앤소울(최소사양)</option>
                        <option value="{{game_rec_13}}">블레이드앤소울(권장사양)</option>
                        <option value="{{game_min_14}}">카트라이더(최소사양)</option>
                        <option value="{{game_rec_14}}">카트라이더(권장사양)</option>
                        <option value="{{game_min_15}}">사이퍼즈(최소사양)</option>
                        <option value="{{game_rec_15}}">사이퍼즈(권장사양)</option>
                        <option value="{{game_min_16}}">히어로즈오브더 스톰(최소사양)</option>
                        <option value="{{game_rec_16}}">히어로즈오브더 스톰(권장사양)</option>
                        <option value="{{game_min_17}}">디아블로3(최소사양)</option>
                        <option value="{{game_rec_17}}">디아블로3(권장사양)</option>
                        <option value="{{game_min_18}}">스타크래프트2(최소사양)</option>
                        <option value="{{game_rec_18}}">스타크래프트2(권장사양)</option>
                        <option value="{{game_min_19}}">아이온(최소사양)</option>
                        <option value="{{game_rec_19}}">아이온(권장사양)</option>
                        <option value="{{game_min_20}}">한게임로우바둑이(최소사양)</option>
                        <option value="{{game_rec_20}}">한게임로우바둑이(권장사양)</option>
                        <option value="{{game_min_21}}">마인크래프트(최소사양)</option>
                        <option value="{{game_rec_21}}">마인크래프트(권장사양)</option>
                        <option value="{{game_min_22}}">심즈4(최소사양)</option>
                        <option value="{{game_rec_22}}">심즈4(권장사양)</option>
                        <option value="{{game_min_23}}">도타2(최소사양)</option>
                        <option value="{{game_rec_23}}">도타2(권장사양)</option>
                        <option value="{{game_min_24}}">카운터스트라이크(최소사양)</option>
                        <option value="{{game_rec_24}}">카운터스트라이크(권장사양)</option>
                        <option value="{{game_min_25}}">로스트아크(최소사양)</option>
                        <option value="{{game_rec_25}}">로스트아크(권장사양)</option>
                        <option value="{{game_min_26}}">GTA5(최소사양)</option>
                        <option value="{{game_rec_26}}">GTA5(권장사양)</option>
                        <option value="{{game_min_27}}">팀포트리스2(최소사양)</option>
                        <option value="{{game_rec_27}}">팀포트리스2(권장사양)</option>
                        <option value="{{game_min_28}}">문명5(최소사양)</option>
                        <option value="{{game_rec_28}}">문명5(권장사양)</option>
                        <option value="{{game_min_29}}">문명6(최소사양)</option>
                        <option value="{{game_rec_29}}">문명6(권장사양)</option>
                        <option value="{{game_min_30}}">심즈3(최소사양)</option>
                        <option value="{{game_rec_30}}">심즈3(권장사양)</option>
                    </select>
                </div>
                <div id="sortinggroup1" class="input-group col-lg-12 mb-2 mr-1" style="display: none">
                    <h4>1순위</h4>
                    <select class="custom-select" id="sortingGroupSelect1" aria-label="Example select with button addon"
                    onchange="sortselect1()">
                        <option value="nothing" selected>우선 순위를 선택하세요</option>
                        <option value="priceasc1">가격 낮은 순</option>
                        <option value="pricedesc1">가격 높은 순</option>
                        <option value="cpuasc1">CPU 성능 낮은 순</option>
                        <option value="cpudesc1">CPU 성능 높은 순</option>
                        <option value="sizeasc1">크기 작은 순</option>
                        <option value="sizedesc1">크기 큰 순</option>
                        <option value="weightasc1">무게 가벼운 순</option>
                        <option value="weightdesc1">무게 무거운 순</option>
                    </select>
                </div>
                <div id="sortinggroup2" class="input-group col-lg-12 mb-2 mr-1" style="display: none">
                    <h4>2순위</h4>
                    <select class="custom-select" id="sortingGroupSelect2" aria-label="Example select with button addon"
                            onchange="sortselect2()">
                        <option value="nothing" selected>우선 순위를 선택하세요</option>
                        <option value="priceasc1">가격 낮은 순</option>
                        <option value="pricedesc1">가격 높은 순</option>
                        <option value="cpuasc1">CPU 성능 낮은 순</option>
                        <option value="cpudesc1">CPU 성능 높은 순</option>
                        <option value="sizeasc1">크기 작은 순</option>
                        <option value="sizedesc1">크기 큰 순</option>
                        <option value="weightasc1">무게 가벼운 순</option>
                        <option value="weightdesc1">무게 무거운 순</option>
                    </select>
                </div>
                <div id="sortinggroup3" class="input-group col-lg-12 mb-2 mr-1" style="display: none">
                    <h4>3순위</h4>
                    <select class="custom-select" id="sortingGroupSelect3" aria-label="Example select with button addon"
                            onchange="sortselect3()">
                        <option value="nothing" selected>우선 순위를 선택하세요</option>
                        <option value="priceasc1">가격 낮은 순</option>
                        <option value="pricedesc1">가격 높은 순</option>
                        <option value="cpuasc1">CPU 성능 낮은 순</option>
                        <option value="cpudesc1">CPU 성능 높은 순</option>
                        <option value="sizeasc1">크기 작은 순</option>
                        <option value="sizedesc1">크기 큰 순</option>
                        <option value="weightasc1">무게 가벼운 순</option>
                        <option value="weightdesc1">무게 무거운 순</option>
                    </select>
                </div>
                <div id="sortinggroup4" class="input-group col-lg-12 mb-2 mr-1" style="display: none">
                    <h4>4순위</h4>
                    <select class="custom-select" id="sortingGroupSelect4" aria-label="Example select with button addon"
                            onchange="sortselect4()">
                        <option value="nothing" selected>우선 순위를 선택하세요</option>
                        <option value="priceasc1">가격 낮은 순</option>
                        <option value="pricedesc1">가격 높은 순</option>
                        <option value="cpuasc1">CPU 성능 낮은 순</option>
                        <option value="cpudesc1">CPU 성능 높은 순</option>
                        <option value="sizeasc1">크기 작은 순</option>
                        <option value="sizedesc1">크기 큰 순</option>
                        <option value="weightasc1">무게 가벼운 순</option>
                        <option value="weightdesc1">무게 무거운 순</option>
                    </select>
                </div>

                <div id="answer1region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer2region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer3region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer4region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer5region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer6region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer7region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer8region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer9region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer10region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer11region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer12region" class="col-lg-3 col-md-6 mb-2"></div>
                <div id="answer13region" class="col-lg-3 col-md-6 mb-2"></div>

            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 컴알못</p>
    </div>
    <!-- /.container -->
</footer>

<script type="text/javascript">
    console.log("질문1");
    var address = "http://comalmot.com/result?";
    var finaladdress = "";
    var brand = null;
    var cpukind = null;
    var cpurankinggreater = null;
    var cpurankingless = null;
    var memorysize = null;
    var disksize = null;
    var sizeinch = null;
    var pricerange = null;
    var weight = null;
    var gpukind = null;
    var os = null;
    var keyboard = null;
    var sortingorder = null;

    var button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">학업</button>";
    var button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">업무</button>";
    var button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">인터넷서핑</button>";
    var button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">게임</button>";
    var button5 = "";
    var button6 = "";
    var button7 = "";
    var button8 = "";
    var button9 = "";
    var button10 = "";
    var button11 = "";
    var button12 = "";
    var button13 = "";
    var laststate = "";

    queryMain();

    function queryMain(){
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99B6BF3B5C7E60933E");
        $("#answer1region").attr("class","col-lg-3");
        $("#answer2region").attr("class","col-lg-3");
        $("#answer3region").attr("class","col-lg-3");
        $("#answer4region").attr("class","col-lg-3");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">학업</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">업무</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">인터넷서핑</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">게임</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        laststate = "main";

        $("#answer1").click(function () { //학업
            console.log($("#toggletest").attr("aria-pressed"));
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryUniversity();
        });
        $("#answer2").click(function () { //업무
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryJob();
        });
        $("#answer3").click(function () { //인터넷서핑
            cpurankinggreater = "450";
            memorysize = "2,4";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer4").click(function () { //게임
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryGame();
        });
    }

    function queryStudent() {
        console.log("질문 학생");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard));
        $("#answer1region").attr("class","col-lg-6");
        $("#answer2region").attr("class","col-lg-6");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">초중고등학생</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">대학생</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);


        $("#answer1").click(function () { //초중고등학셍
            console.log("초중고");
            cpurankinggreater = "450";
            memorysize = "2,4";
            $("#answer1").remove();
            $("#answer2").remove();
            queryOutdoor();
        });
        $("#answer2").click(function () {//대학생
            console.log("대학생");
            $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99A1824C5C54203312");
            $("#answer1").remove();
            $("#answer2").remove();
            queryUniversity();
        });
    }

    function queryUniversity() {
        console.log("전공 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99D6BA355C7E621C3B");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">높은 성능의 노트북이<br>필요한 공부</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">그래픽 작업이<br>필요한 공부</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">그 외(ex 문서작업, 검색, 인강 시청 등)의 용도</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        console.log(cpurankinggreater);
        laststate = "university";

        $("#answer1").click(function () { //높은 성능
            console.log(cpurankinggreater);
            cpurankinggreater = null;
            cpurankingless = "700";
            memorysize = "4,8,16";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer2").click(function () { //높은 성능
            console.log(cpurankinggreater);
            cpurankinggreater = null;
            cpurankingless = "700";
            memorysize = "4,8,16";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer3").click(function () { //그 외
            console.log(cpurankinggreater);
            cpurankinggreater = "450";
            memorysize = "2,4";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer4").click(function () { //그 외
            console.log(cpurankinggreater);
            cpurankinggreater = null;
            memorysize = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryMain();
        });
    }


    function queryJob() {
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/9946553A5C7E639B0B");
        console.log("직업 세분화 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">사무용</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">높은 성능이 필요한 작업</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">그래픽 작업용</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        laststate = "job";

        $("#answer1").click(function () { //사무용
            cpurankinggreater = "450";
            memorysize = "2,4";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer2").click(function () { //높은 성능
            cpurankinggreater = null;
            cpurankingless = "700";
            memorysize = "4,8,16";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer3").click(function () { //그래픽
            cpurankinggreater = null;
            cpurankingless = "700";
            memorysize = "4,8,16";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
        $("#answer4").click(function () { //그 외
            console.log(cpurankinggreater);
            cpurankinggreater = null;
            memorysize = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryMain();
        });
    }

    function queryGame() {
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99F49A455C7E676C11");
        console.log("게임 질문");
        $("#answer1region").attr("class","col-lg-12");
        $("#answer2region").attr("class","col-lg-12");

        $("#inputgroup").show();
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">선택 완료</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block;\">뒤로</button>";
        laststate = "game";

        $("#answer1region").append(button1);
        $("#answer2region").append(button2);

        $("#answer1").click(function () {
            finaladdress = gameselect();
            $("#answer1").remove();
            $("#answer2").remove();
            $("#inputgroup").remove();
            sorting();
        });
        $("#answer2").click(function () {
            $("#answer1").remove();
            $("#answer2").remove();
            $("#inputgroup").hide();
            queryMain();
        });

    }

    function queryOutdoor() { //순서1
        console.log("외출 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99F1E5415C7E76602E");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">자주 들고 나가는 편이다</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">잘 들고 나가지 않는다</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">상관없다</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        console.log(laststate);

        $("#answer1").click(function () { //자주 나가는 편이다.
            weight = "range1,range2,range3";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            querySize();
        });
        $("#answer2").click(function () { //잘 들고 나가지 않는다.
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            querySize();
        });
        $("#answer3").click(function () { //상관없다.
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            querySize();
        });
        $("#answer4").click(function () { //상관없다.
            weight = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            if(laststate == "main"){
                cpurankinggreater = null;
                memorysize = null;
                queryMain();
            }
            else if(laststate == "university"){
                cpurankinggreater = null;
                memorysize = null;
                queryUniversity();
            }
            else if(laststate == "job"){
                cpurankinggreater = null;
                memorysize = null;
                queryJob();
            }
        });

    }

    function querySize() { //순서2
        console.log("사이즈 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/9977AD3E5C7E7E113A");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">13인치 이하</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">14인치 이상</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\">상관없다</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);

        $("#answer1").click(function () { //13인치 이하
            sizeinch = "10,11,12,13";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryDisk();
        });
        $("#answer2").click(function () { //14인치 이상
            sizeinch = "14,15,17";
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryDisk();
        });
        $("#answer3").click(function () { //상관없다.
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryDisk();
        });
        $("#answer4").click(function () {
            sizeinch = null;
            weight = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            queryOutdoor();
        });
    }
    
    function queryDisk() { //순서3
        console.log("용량 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99E4EF495C7E886209");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-6");
        $("#answer5region").attr("class","col-lg-6");
        $("#answer6region").attr("class","col-lg-12");
        $("#answer7region").attr("class","col-lg-12");
        $("#answer8region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">128GB미만</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">128GB이상 256GB미만</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">256GB이상 512GB미만</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">512GB이상 1TB미만</button>";
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">1TB이상</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없다</button>";
        button8 = "<button id=\"answer8\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);
        $("#answer8region").append(button8);

        var state = [0,0,0,0,0];
        var disksizelist = new Array();
        var index = -1;
        $("#answer1").click(function () { //128
            if(state[0] == 0){
                state[0] = 1;
                disksizelist.push("range1");
                console.log("range1 select");
            } else if (state[0] == 1){
                state[0] = 0;
                index = disksizelist.indexOf("range1");
                disksizelist.splice(index,1);
                console.log(disksizelist);
            }
        });
        $("#answer2").click(function () { //256
            if(state[1] == 0){
                state[1] = 1;
                disksizelist.push("range2");
                console.log("range2 select");
            } else if (state[1] == 1){
                state[1] = 0;
                index = disksizelist.indexOf("range2");
                disksizelist.splice(index,1);
                console.log(disksizelist);
            }
        });
        $("#answer3").click(function () { //512
            if(state[2] == 0){
                state[2] = 1;
                disksizelist.push("range3");
                console.log("range3 select");
            } else if (state[2] == 1){
                state[2] = 0;
                index = disksizelist.indexOf("range3");
                disksizelist.splice(index,1);
                console.log(disksizelist);
            }
        });
        $("#answer4").click(function () { //1024
            if(state[3] == 0){
                state[3] = 1;
                disksizelist.push("range4");
                console.log("range4 select");
            } else if (state[3] == 1){
                state[3] = 0;
                index = disksizelist.indexOf("range4");
                disksizelist.splice(index,1);
                console.log(disksizelist);
            }
        });
        $("#answer5").click(function () { //1024
            if(state[4] == 0){
                state[4] = 1;
                disksizelist.push("range5");
                console.log("range5 select");
            } else if (state[4] == 1){
                state[4] = 0;
                index = disksizelist.indexOf("range5");
                disksizelist.splice(index,1);
                console.log(disksizelist);
            }
        });
        $("#answer6").click(function () { //선택완료
            for(var i=0; i<disksizelist.length; i++){
                if(disksize == null)
                    disksize = disksizelist[i];
                else
                    disksize = disksize + disksizelist[i];
                if((i+1) < disksizelist.length)
                    disksize = disksize + ",";
                console.log(disksize);
            }
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            queryPrice();
        });
        $("#answer7").click(function () { //상관없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            disksize = null;
            queryPrice();
        });
        $("#answer8").click(function () { //상관없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            disksize = null;
            sizeinch = null;
            querySize();
        });
    }

    function queryPrice() { //순서4
        console.log("가격 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/9952AD455C7E93B31F");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">50만원 이하</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">50만원 이상 100만원 이하</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">100만원 이상 150만원 이하</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">150만원 이상 200만원 이하</button>";
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">200만원 이상</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없다</button>";
        button8 = "<button id=\"answer8\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);
        $("#answer8region").append(button8);
        var state = [0,0,0,0,0];
        var pricelist = new Array();
        $("#answer1").click(function () { //range1
            if(state[0] == 0){
                state[0] = 1;
                pricelist.push("range1");
                console.log("range1 select");
            } else if (state[0] == 1){
                state[0] = 0;
                index = pricelist.indexOf("range1");
                pricelist.splice(index,1);
                console.log(pricelist);
            }
        });
        $("#answer2").click(function () { //range2
            if(state[1] == 0){
                state[1] = 1;
                pricelist.push("range2");
                console.log("range2 select");
            } else if (state[1] == 1){
                state[1] = 0;
                index = pricelist.indexOf("range2");
                pricelist.splice(index,1);
                console.log(pricelist);
            }
        });
        $("#answer3").click(function () { //range3
            if(state[2] == 0){
                state[2] = 1;
                pricelist.push("range3");
                console.log("range3 select");
            } else if (state[2] == 1){
                state[2] = 0;
                index = pricelist.indexOf("range3");
                pricelist.splice(index,1);
                console.log(pricelist);
            }
        });
        $("#answer4").click(function () { //range4
            if(state[3] == 0){
                state[3] = 1;
                pricelist.push("range4");
                console.log("range4 select");
            } else if (state[3] == 1){
                state[3] = 0;
                index = pricelist.indexOf("range4");
                pricelist.splice(index,1);
                console.log(pricelist);
            }
        });
        $("#answer5").click(function () { //range5
            if(state[4] == 0){
                state[4] = 1;
                pricelist.push("range5");
                console.log("range5 select");
            } else if (state[4] == 1){
                state[4] = 0;
                index = pricelist.indexOf("range5");
                pricelist.splice(index,1);
                console.log(pricelist);
            }
        });
        $("#answer6").click(function () { //선택 완료
            for(var i=0; i<pricelist.length; i++){
                if(pricerange == null)
                    pricerange = pricelist[i];
                else
                    pricerange = pricerange + pricelist[i];
                if((i+1) < pricelist.length)
                    pricerange = pricerange + ",";
                console.log(pricerange);
            }
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            queryOS();
        });
        $("#answer7").click(function () { //상관 없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            pricerange = null;
            queryOS();
        });
        $("#answer8").click(function () { //상관없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            pricerange = null;
            disksize = null;
            queryDisk();
        });
    }

    function queryOS() { //순서5
        console.log("운영체제 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/9976B7455C7E93B406");
        $("#answer1region").attr("class","col-lg-3");
        $("#answer2region").attr("class","col-lg-3");
        $("#answer3region").attr("class","col-lg-3");
        $("#answer4region").attr("class","col-lg-3");
        $("#answer5region").attr("class","col-lg-12");
        $("#answer6region").attr("class","col-lg-12");
        $("#answer7region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">윈도우</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">Mac OS</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">리눅스</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">운영체제 미포함</button>";
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없음</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";

        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);

        var state = [0,0,0,0];
        var oslist = new Array();
        $("#answer1").click(function () { //
            if(state[0] == 0){
                state[0] = 1;
                oslist.push("윈도우10");
                console.log("윈도우10 select");
            } else if (state[0] == 1){
                state[0] = 0;
                index = oslist.indexOf("윈도우10");
                oslist.splice(index,1);
                console.log(oslist);
            }
        });
        $("#answer2").click(function () { //
            if(state[1] == 0){
                state[1] = 1;
                oslist.push("MacOS,MacOSX,MacOSSierra");
                console.log("Mac select");
            } else if (state[1] == 1){
                state[1] = 0;
                index = oslist.indexOf("MacOS,MacOSX,MacOSSierra");
                oslist.splice(index,1);
                console.log(oslist);
            }
        });
        $("#answer3").click(function () { //
            if(state[2] == 0){
                state[2] = 1;
                oslist.push("리눅스");
                console.log("리눅스 select");
            } else if (state[2] == 1){
                state[2] = 0;
                index = oslist.indexOf("리눅스");
                oslist.splice(index,1);
                console.log(oslist);
            }
        });
        $("#answer4").click(function () { //
            if(state[3] == 0){
                state[3] = 1;
                oslist.push("운영체제미포함");
                console.log("운영체제미포함 select");
            } else if (state[3] == 1){
                state[3] = 0;
                index = oslist.indexOf("운영체제미포함");
                oslist.splice(index,1);
                console.log(oslist);
            }
        });
        $("#answer5").click(function () { // 선택완료
            for(var i=0; i<oslist.length; i++){
                if(os == null)
                    os = oslist[i];
                else
                    os = os + oslist[i];
                if((i+1) < oslist.length)
                    os = os + ",";
                console.log(os);
            }
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            queryKeyboard();
        });
        $("#answer6").click(function () { // 상관없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            os = null;
            queryKeyboard();
        });
        $("#answer7").click(function () { // 상관없음
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            os = null;
            pricerange = null;
            queryPrice();
        })
    }

    function queryKeyboard() { //순서6
        console.log("키보드 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99B27A455C7E93B41C");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-6");
        $("#answer5region").attr("class","col-lg-6");
        $("#answer6region").attr("class","col-lg-12");
        $("#answer7region").attr("class","col-lg-12");
        $("#answer8region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">숫자 키패드</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">블록 키보드</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">기계식 키보드</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">키보드 라이트</button>";
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">방수 키보드</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없다</button>";
        button8 = "<button id=\"answer8\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";
        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);
        $("#answer8region").append(button8);

        var state = [0,0,0,0,0];
        var keyboardlist = new Array();
        $("#answer1").click(function () { //
            if(state[0] == 0){
                state[0] = 1;
                keyboardlist.push("numkb");
                console.log("numkb select");
            } else if (state[0] == 1){
                state[0] = 0;
                index = keyboardlist.indexOf("numkb");
                keyboardlist.splice(index,1);
                console.log(keyboardlist);
            }
        });
        $("#answer2").click(function () { //
            if(state[1] == 0){
                state[1] = 1;
                keyboardlist.push("blockkb");
                console.log("blockkb select");
            } else if (state[1] == 1){
                state[1] = 0;
                index = keyboardlist.indexOf("blockkb");
                keyboardlist.splice(index,1);
                console.log(keyboardlist);
            }
        });
        $("#answer3").click(function () { //
            if(state[2] == 0){
                state[2] = 1;
                keyboardlist.push("machinekb");
                console.log("machinekb select");
            } else if (state[2] == 1){
                state[2] = 0;
                index = keyboardlist.indexOf("machinekb");
                keyboardlist.splice(index,1);
                console.log(keyboardlist);
            }
        });
        $("#answer4").click(function () { //
            if(state[3] == 0){
                state[3] = 1;
                keyboardlist.push("kblight");
                console.log("kblight select");
            } else if (state[3] == 1){
                state[3] = 0;
                index = keyboardlist.indexOf("kblight");
                keyboardlist.splice(index,1);
                console.log(keyboardlist);
            }
        });
        $("#answer5").click(function () { //
            if(state[4] == 0){
                state[4] = 1;
                keyboardlist.push("waterproofkb");
                console.log("waterproofkb select");
            } else if (state[4] == 1){
                state[4] = 0;
                index = keyboardlist.indexOf("waterproofkb");
                keyboardlist.splice(index,1);
                console.log(keyboardlist);
            }

        });
        $("#answer6").click(function () { //
            for(var i=0; i<keyboardlist.length; i++){
                if(keyboard == null)
                    keyboard = keyboardlist[i];
                else
                    keyboard = keyboard + keyboardlist[i];
                if((i+1) < keyboardlist.length)
                    keyboard = keyboard + ",";
                console.log(keyboard);
            }
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            queryBrand();
        });
        $("#answer7").click(function () { //
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            keyboard = null;
            queryBrand();
        });
        $("#answer8").click(function () { //
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            keyboard = null;
            os = null;
            queryOS();
        });

    }

    function queryBrand() { //순서7
        console.log("브랜드 질문");
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99C3FF425C7E952E08");
        $("#answer1region").attr("class","col-lg-4");
        $("#answer2region").attr("class","col-lg-4");
        $("#answer3region").attr("class","col-lg-4");
        $("#answer4region").attr("class","col-lg-4");
        $("#answer5region").attr("class","col-lg-4");
        $("#answer6region").attr("class","col-lg-4");
        $("#answer7region").attr("class","col-lg-3");
        $("#answer8region").attr("class","col-lg-3");
        $("#answer9region").attr("class","col-lg-3");
        $("#answer10region").attr("class","col-lg-3");
        $("#answer11region").attr("class","col-lg-12");
        $("#answer12region").attr("class","col-lg-12");
        $("#answer13region").attr("class","col-lg-12");
        button1 = "<button id=\"answer1\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">삼성</button>";
        button2 = "<button id=\"answer2\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">LG</button>";
        button3 = "<button id=\"answer3\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">애플</button>";
        button4 = "<button id=\"answer4\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">HP</button>";
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">DELL</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">한성</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">ASUS</button>";
        button8 = "<button id=\"answer8\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">레노바</button>";
        button9 = "<button id=\"answer9\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">MSI</button>";
        button10 = "<button id=\"answer10\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">기가바이트</button>";
        button11 = "<button id=\"answer11\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button12 = "<button id=\"answer12\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없다</button>";
        button13 = "<button id=\"answer13\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";

        $("#answer1region").append(button1);
        $("#answer2region").append(button2);
        $("#answer3region").append(button3);
        $("#answer4region").append(button4);
        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);
        $("#answer8region").append(button8);
        $("#answer9region").append(button9);
        $("#answer10region").append(button10);
        $("#answer11region").append(button11);
        $("#answer12region").append(button12);
        $("#answer13region").append(button13);
        var state = [0,0,0,0,0,0,0,0,0,0];
        var brandlist = new Array();
        laststate = "brand";

        $("#answer1").click(function () { //
            if(state[0] == 0){
                state[0] = 1;
                brandlist.push("삼성");
                console.log("삼성 select");
            } else if (state[0] == 1){
                state[0] = 0;
                index = brandlist.indexOf("삼성");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
           });
        $("#answer2").click(function () { //
            if(state[1] == 0){
                state[1] = 1;
                brandlist.push("LG");
                console.log("LG select");
            } else if (state[1] == 1){
                state[1] = 0;
                index = brandlist.indexOf("LG");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
          });
        $("#answer3").click(function () { //
            if(state[2] == 0){
                state[2] = 1;
                brandlist.push("애플");
                console.log("애플 select");
            } else if (state[2] == 1){
                state[2] = 0;
                index = brandlist.indexOf("애플");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
        });
        $("#answer4").click(function () { //
            if(state[3] == 0){
                state[3] = 1;
                brandlist.push("HP");
                console.log("HP select");
            } else if (state[3] == 1){
                state[3] = 0;
                index = brandlist.indexOf("HP");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
        });
        $("#answer5").click(function () { //
            if(state[4] == 0){
                state[4] = 1;
                brandlist.push("DELL");
                console.log("DELL select");
            } else if (state[4] == 1){
                state[4] = 0;
                index = brandlist.indexOf("DELL");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
       });
        $("#answer6").click(function () { //
            if(state[5] == 0){
                state[5] = 1;
                brandlist.push("한성");
                console.log("한성 select");
            } else if (state[5] == 1){
                state[5] = 0;
                index = brandlist.indexOf("한성");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
        });
        $("#answer7").click(function () { //
            if(state[6] == 0){
                state[6] = 1;
                brandlist.push("ASUS");
                console.log("ASUS select");
            } else if (state[6] == 1){
                state[6] = 0;
                index = brandlist.indexOf("ASUS");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
       });
        $("#answer8").click(function () { //
            if(state[7] == 0){
                state[7] = 1;
                brandlist.push("레노바");
                console.log("레노바 select");
            } else if (state[7] == 1){
                state[7] = 0;
                index = brandlist.indexOf("레노바");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
        });
        $("#answer9").click(function () { //
            if(state[8] == 0){
                state[8] = 1;
                brandlist.push("MSI");
                console.log("MSI select");
            } else if (state[8] == 1){
                state[8] = 0;
                index = brandlist.indexOf("MSI");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
         });
        $("#answer10").click(function () { //
            if(state[9] == 0){
                state[9] = 1;
                brandlist.push("기가바이트");
                console.log("기가바이트 select");
            } else if (state[9] == 1){
                state[9] = 0;
                index = brandlist.indexOf("기가바이트");
                brandlist.splice(index,1);
                console.log(brandlist);
            }
        });
        $("#answer11").click(function () { //
            for(var i=0; i<brandlist.length; i++){
                if(brand == null)
                    brand = brandlist[i];
                else
                    brand = brand + brandlist[i];
                if((i+1) < brandlist.length)
                    brand = brand + ",";
                console.log(brand);
            }
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            $("#answer9").remove();
            $("#answer10").remove();
            $("#answer11").remove();
            $("#answer12").remove();
            $("#answer13").remove();
            sorting();
        });
        $("#answer12").click(function () { //
            brand = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            $("#answer9").remove();
            $("#answer10").remove();
            $("#answer11").remove();
            $("#answer12").remove();
            $("#answer13").remove();
            sorting();
        });
        $("#answer13").click(function () { //
            brand = null;
            $("#answer1").remove();
            $("#answer2").remove();
            $("#answer3").remove();
            $("#answer4").remove();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            $("#answer8").remove();
            $("#answer9").remove();
            $("#answer10").remove();
            $("#answer11").remove();
            $("#answer12").remove();
            $("#answer13").remove();
            keyboard = null;
            queryKeyboard();
        });
    }

    function sorting(){
        console.log("순서 질문");
        console.log(laststate);
        console.log(final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard,sortingorder));
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/99BB7F425C7E952E23");
        $("#sortinggroup1").show();
        $("#sortinggroup2").show();
        $("#sortinggroup3").show();
        $("#sortinggroup4").show();
        $("#answer5region").attr("class","col-lg-12");
        $("#answer6region").attr("class","col-lg-12");
        $("#answer7region").attr("class","col-lg-12");
        button5 = "<button id=\"answer5\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">선택완료</button>";
        button6 = "<button id=\"answer6\" type=\"button\" class=\"btn btn-outline-danger mb-2\" style=\"width: inherit; display: block;\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">상관없다</button>";
        button7 = "<button id=\"answer7\" type=\"button\" class=\"btn btn-outline-secondary mb-2\" style=\"width: inherit; display: block; word-break: keep-all\">뒤로</button>";

        $("#answer5region").append(button5);
        $("#answer6region").append(button6);
        $("#answer7region").append(button7);

        var sortinglist = new Array();
        if(laststate != "game")
            finaladdress = final(address,brand,cpukind,cpurankinggreater,cpurankingless,memorysize,sizeinch,pricerange,weight,gpukind,os,disksize,keyboard, sortingorder);

        $("#answer5").click(function(){
            sortinglist.push(sortselect1());
            sortinglist.push(sortselect2());
            sortinglist.push(sortselect3());
            sortinglist.push(sortselect4());
            for(var i=0; i<sortinglist.length; i++){
                if(sortinglist[i] == "priceasc1")
                    finaladdress = finaladdress + "&sort=price,asc";
                else if(sortinglist[i] == "pricedesc1")
                    finaladdress = finaladdress + "&sort=price,desc";
                else if(sortinglist[i] == "cpuasc1")
                    finaladdress = finaladdress + "&sort=cpuranking,asc";
                else if(sortinglist[i] == "cpudesc1")
                    finaladdress = finaladdress + "&sort=cpuranking,desc";
                else if(sortinglist[i] == "sizeasc1")
                    finaladdress = finaladdress + "&sort=sizecm,asc";
                else if(sortinglist[i] == "sizedesc1")
                    finaladdress = finaladdress + "&sort=sizecm,desc";
                else if(sortinglist[i] == "weightasc1")
                    finaladdress = finaladdress + "&sort=weight,asc";
                else if(sortinglist[i] == "weightdesc1")
                    finaladdress = finaladdress + "&sort=weight,desc";
                console.log(finaladdress);
            }
            $("#answer5").attr("onclick",buttonClicked(finaladdress));
        });
        $("#answer6").click(function(){
            $("#answer6").attr("onclick",buttonClicked(finaladdress));
        });
        $("#answer7").click(function(){
            $("#sortinggroup1").hide();
            $("#sortinggroup2").hide();
            $("#sortinggroup3").hide();
            $("#sortinggroup4").hide();
            $("#answer5").remove();
            $("#answer6").remove();
            $("#answer7").remove();
            if(laststate == "brand"){
                brand = null;
                queryBrand();
            }
            else if(laststate == "game"){

                queryGame();
            }
        });

    }

    function sortselect1(){
        var sortSelect = document.getElementById("sortingGroupSelect1");
        var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
        return selectValue;
    }
    function sortselect2(){
        var sortSelect = document.getElementById("sortingGroupSelect2");
        var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
        return selectValue;
    }
    function sortselect3(){
        var sortSelect = document.getElementById("sortingGroupSelect3");
        var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
        return selectValue;
    }
    function sortselect4(){
        var sortSelect = document.getElementById("sortingGroupSelect4");
        var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
        return selectValue;
    }

    function gameselect(){
        var sortSelect = document.getElementById("inputGroupSelect04");
        var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
        return selectValue;
    }

    function final(address, brand, cpukind, cpurankinggreater, cpurankingless, memorysize, sizeinch, pricerange, weight, gpukind, os, disksize, keyboard, sortingorder){
        if(brand != null)
            address = address + "brand=" + brand + "&";
        if(cpukind != null)
            address = address + "cpukind=" + cpukind + "&";
        if(cpurankinggreater != null)
            address = address + "cpurankinggreater=" + cpurankinggreater + "&";
        if(cpurankingless != null)
            address = address + "cpurankingless=" + cpurankingless + "&";
        if(memorysize != null)
            address = address + "memorysize=" + memorysize + "&";
        if(sizeinch != null)
            address = address + "sizeinch=" + sizeinch + "&";
        if(pricerange != null)
            address = address + "pricerange=" + pricerange + "&";
        if(weight != null)
            address = address + "weight=" + weight + "&";
        if(gpukind != null)
            address = address + "gpukind=" + gpukind + "&";
        if(os != null)
            address = address + "os=" + os + "&";
        if(disksize != null)
            address = address + "disksize=" + disksize + "&";
        if(keyboard != null)
            address = address + "keyboard=" + keyboard + "&";
        if(sortingorder != null)
            address = address + "sort=" + sortingorder + "&";
        return address;
    }

    function buttonClicked(address) {
        console.log(address);
        window.location.href = address;
    }

</script>

<script type="text/javascript">
    $(function () {
        console.log("jQuery ready");
    });
</script>

</body>

</html>
