<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>노트북 견적 내줘!</title>

    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
    <script>

    </script>

    <script language="javascript">
        function urlcontrol(a){
            if(a.indexOf("?page=")!=-1) { // view?page=1
                var strarray = a.split('page=');
                a = strarray[0] + "page=";
            }
            else if(a.indexOf("&page=")!=-1){ //검색시 페이지
                var strarray = a.split('page=');
                a = strarray[0] + "page=";
            }
            else
                a+="&page=";
            return a;
        }
        function prepage(number) {
            var url = window.location.href;
            url = urlcontrol(url);
            url+=number;
            document.location.href = url;
        }
        function nextpage(number) {
            var url = window.location.href;
            url = urlcontrol(url);
            var nextnumber = number +2;
            url+=nextnumber;
            document.location.href = url;
        }
    </script>

</head>

<body >
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-danger display-4" href="http://comalmot.com/" style="font-family: '본고딕 KR Heavy'" >노트북 견적 내줘!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://comalmot.com/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class = "container mt-5" >

    <div class="row">

        <div class="col-lg-3 mt-4">
            <div class="list-group " >
                <a href="#" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 이용 방법
                </a>
                <a href="http://comalmot.com/view?" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 노트북 상세검색
                </a>
                <a href="http://comalmot.com/query" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 개인별 맞춤 솔루션
                </a>
            </div>
        </div>
        <!-- /.col-lg-3 -->


        <div class="col-lg-9">

            <div class="row">
                <!-- Page Heading -->
                <div class="col-lg-9">
                    <h2 class="my-4" style="font-family: '본고딕 KR Bold'; word-break: keep-all">당신과 가장 어울리는 노트북<br></h2>
                </div>
                <div class="col-lg-3 mt-4 mb-2" id = "dropdownsort">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            정렬순서
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="location.href=priceasc()">낮은 가격순</a>
                            <a class="dropdown-item" href="#" onclick="location.href=pricedesc()">높은 가격순</a>
                            <a class="dropdown-item" href="#" onclick="location.href=weightasc()">낮은 무게순</a>
                        </div>
                    </div>
                </div>
                <!-- Project One -->
                {{#each notebookPage}}
                    <div class="row">
                            <div class="col-md-6">
                                <div class="alert-light " style="width: auto;height: 300px;text-align: center">
                                    <a href="http://comalmot.com/notebookinfo/{{id}}">
                                        <img class="img-fluid rounded mb-3 mb-md-0 " src="{{imgurlf}}" style="max-height: 300px; width: auto; " alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h5 class="card-title ">
                                    <a href="http://comalmot.com/notebookinfo/{{id}}" >{{model}}</a>
                                </h5>
                                <h5>{{pricestring}} 원</h5>
                                <p> {{cpumanufact}} / {{cpukind}} / RAM {{memorysize}} GB / {{sizeint}}인치
                                    {{#if hddsize}}
                                        / HDD {{hddsize}} GB
                                    {{/if}}
                                    {{#if ssdsize}}
                                        / SSD {{ssdsize}} GB
                                    {{/if}}
                                </p>
                            </div>
                        </div>

                {{/each}}
                <!-- /.row -->
            </div>
            <!-- /.row -->
            <div id="pagination"></div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 컴알못</p>
    </div>
    <!-- /.container -->
</footer>
<script id = "pagination-template" type="text/x-handlebars-template">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#if notebookPage.first}}
                {{#if notebookPage.last}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">다음</a>
                    </li>
                {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <div class="page-link" onclick="nextpage({{notebookPage.number}})">다음</div>
                    </li>
                {{/if}}
            {{else}}
                {{#if notebookPage.last}}
                    <li class="page-item">
                        <div class="page-link" onclick="prepage({{notebookPage.number}})">이전</div>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">다음</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <div class="page-link" onclick="prepage({{notebookPage.number}})">이전</div>
                    </li>
                    <li class="page-item">
                        <div class="page-link" onclick="nextpage({{notebookPage.number}})">다음</div>
                    </li>
                {{/if}}
            {{/if}}
        </ul>
    </nav>
</script>
<script>
    var linkArray = document.location.href.split("&");
    var link = "";
    console.log(linkArray[0]);
    function pricedesc() {
        link = linkArray[0] + "&sort=price,desc";
        return link;
    }
    function priceasc() {
        link = linkArray[0] + "&sort=price,asc";
        return link;
    }
    function weightasc() {
        link = linkArray[0] + "&sort=weight,asc";
        return link;
    }
</script>
<script type="text/javascript">

    var psource = $("#pagination-template").html();
    var template = Handlebars.compile(psource);

    Handlebars.registerHelper("ranking", function(index){
        console.log("test");
        return index;
    });

    $("#pagination").html(template);
</script>



</body>

</html>